category-encoders
jeraconv
jupyterlab
kaggle
lightgbm
matplotlib
numpy
openpyxl
PyYAML
pandas
seaborn
scipy
scikit-learn
signate
statsmodels
playwright>=1.40.0
pulp
coverage
BeautifulSoup4
requests
lxml
